@use "./variables.scss" as *;

.contact {
  .contact-form {
    .contact-details {
      background-color: #eee;
      padding: 40px 30px;
      height: 100%;
      h3 {
        font-size: 20px;
        font-weight: 600;
      }
      h5 {
        font-size: 15px;
        margin-bottom: 0;
      }
      a,
      span {
        font-size: 15px;
        color: #444;
      }
    }
    .form {
      background-color: #eee;
      padding: 40px 30px;
      form {
        label {
          font-size: 12px;
          font-weight: 600;
        }
        input,
        textarea {
          background-color: #ffffff;
          border: 1px solid transparent !important;
          box-shadow: none !important;
          outline: none !important;
          border-radius: 0;
          &:focus {
            border: 1px solid $main_color !important;
          }
        }
        button {
          width: 100%;
          background-color: $main_color;
          color: #fff;
          padding: 10px;
          border: none;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          transition: 0.3s;
          &:hover {
            background-color: $bg_color;
            color: #fff;
          }
        }
      }
    }
  }
}
