@use "./variables.scss" as *;

.products-filter {
  .filter {
    background-color: #eee;
    padding: 10px 20px;
    flex-wrap: wrap;
    .products-number {
      font-size: 15px;
      @media (max-width: 350px) {
        margin-bottom: 10px;
      }
    }
    .sort {
      font-size: 15px;
      select {
        font-size: 15px;
        color: #333;
        border: 1px solid #f4eded;
        outline: none;
        padding: 6px 10px;
        &:focus {
          border-color: $main_color;
        }
      }
    }
  }
}
